@font-face{
font-family: Chops;
src:url("CHOPS___.ttf");

}
@font-face{
	font-family: RobotoCondensed;
	src:url("RobotoCondensed-Regular.ttf");

}
body{
	text-align: justify;
	margin: 5%;
	font-family: RobotoCondensed, sans-serif;
	font-style: normal;
	/*font-style: italic;*/
	font-weight: normal;
	/*font-weight: bold;*/
	/*background-attachment: fixed;*/
	background: url("1.jpg") repeat-x fixed top,
				url("1-1.jpg") repeat-x fixed bottom;
	background-color: #f9f9f9;

	/*ORDEM:
	background-color
	background-image
	background-repeat
	background-attachment
	background-position*/
}
html{
	/*background: url("1-1.jpg") repeat-x fixed bottom;*/
}
header
{
	background-color: #ed829c;
	padding: 5% 5% 5% 7%;
	margin:0;
	color: white;
	font-family: Chops, serif;
	font-size: 5em;
	max-width: auto;
}
article{
	background-color: white;
	padding: 5% 4% 3% 5%;
	text-indent: 10%;
	float: left;
	width: 70%;
	height: 100%
}
article ol{
	text-align: left;
	list-style: upper-roman inside url("pseudo-element-bullet-featured.png");
}
table{
	text-indent: 0;
	width: 100%;
}
table, th, td{
	border-bottom: solid 1px #ddd;
	border-collapse: collapse;
	padding: 1%	
}
tr:nth-child(even){background-color: #f2f2f2}
th{
	background-color: #f0a8b9;
	color:white;
}
ol li{
	text-indent: 0;
}
	
nav div#menu{
	background-color: #b9a1d1;
	max-width: 100%
	margin: auto;
	padding: 0.025% 0 0.025% 0;
}
nav div#menu ul a li{
	text-decoration: none;
	display: inline;
	border:none;
	margin:0 0 0.5% 0;
}
nav div#menu ul{
	padding: 0;
	text-align: center;
}
nav div#menu ul a{
	text-decoration: none;
	padding:0 0 14px 0;
	margin:0 6% 0 6%;
}
nav div#menu ul a:hover{
	border-bottom-style: solid;
	border-color: #531a67;	
}
nav div#menu ul a:hover li{
	#menucolor:whie;	
}
nav div#menu ul a:link{
	color: #531a67;
	font-weight: normal;
}
nav div#menu ul a:visited{
	color: #531a67;
}
nav div#menu ul a:active{
	color: #531a67;
}
aside{
	/*background-color: #b9a1d1;*/
	float: left;
	/*position: absolute;*/
	height:100%;
	width: 20%;
	margin-left: 1%;
	margin-bottom: 500px;

}
aside img{
	border-radius: 50%;
	margin: 10% 0 0 13%;
}
#corpo{
	margin-top: 0.7%;
}
#txtaside{
	background-color: white;
	padding: 10%;
}
#asidetitle{
	font-family: Chops, serif;
	font-size: 1.5em;
	text-align: center;
}
/*#fixed{
	position: absolute;
}*/
/*
border-width: dotted solid double dashed
border-radius
max or min-width or height
text-transform: uppercase ou lowercase ou capitalize
letter-space:3px
line-height:3px - espaçamento entre linhas
text-direction: rtl; - right to left
word-spacing: 5px;
font-variant: small-caps;
list-style-image: url('sqpurple.gif');
display:none;
display:block;
"" inline
"" inherit (herança)
visibility: hidden;
tabela:
vertical-align: bottom;
--
z-inex: -1; (posição atrás de outro elemento)
overflow:auto;
*/